<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright (C) 2016 David Dejori, Alex Lardschneider
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest
    package="it.sasabz.android.sasabus"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.departure.DepartureActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <!-- Nav drawer activities -->

        <activity
            android:name="ui.MapActivity"
            android:label="@string/title_map"
            android:launchMode="singleTop"/>

        <activity
            android:name="ui.line.LinesActivity"
            android:label="@string/title_lines"
            android:launchMode="singleTop"/>

        <activity
            android:name="ui.route.RouteActivity"
            android:label="@string/title_route"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustNothing"/>

        <activity
            android:name="ui.TimetableActivity"
            android:label="@string/title_timetables"
            android:launchMode="singleTop"/>

        <activity
            android:name="ui.NewsActivity"
            android:label="@string/title_news"
            android:launchMode="singleTop"/>

        <activity
            android:name="ui.parking.ParkingActivity"
            android:label="@string/title_parking"
            android:launchMode="singleTop"/>


        <!-- Intro activity -->

        <activity
            android:name="ui.intro.Intro"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Intro">

            <!-- Handle terms/privacy clicks -->
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.intent.action.VIEW"/>

                <data android:scheme="terms"/>
                <data android:scheme="privacy"/>
            </intent-filter>
        </activity>

        <activity
            android:name="ui.intro.data.IntroData"
            android:theme="@style/AppTheme.Intro"/>


        <!-- Departures -->

        <activity
            android:name=".ui.departure.DepartureSearchActivity"
            android:exported="false"
            android:label="@string/title_search"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Search">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>

        </activity>


        <!-- Credits/Settings/Changelog -->

        <activity
            android:name="ui.about.AboutActivity"
            android:label="@string/title_about"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.About"/>

        <activity
            android:name="ui.about.CreditsActivity"
            android:label="@string/title_credits"
            android:parentActivityName="ui.about.AboutActivity"
            android:theme="@style/AppTheme.Normal"/>

        <activity
            android:name="ui.about.ChangelogActivity"
            android:label="@string/title_changelog"
            android:parentActivityName="ui.about.AboutActivity"
            android:theme="@style/AppTheme.Normal"/>

        <activity
            android:name="ui.PreferenceActivity"
            android:label="@string/title_settings"
            android:theme="@style/AppTheme.Settings"/>


        <!-- Route -->

        <activity
            android:name="ui.route.RouteMapPickerActivity"
            android:label="@string/title_pick_bus_stops"
            android:parentActivityName="ui.route.RouteActivity"
            android:theme="@style/AppTheme.Normal"/>

        <activity
            android:name="ui.route.RouteResultActivity"
            android:label="@string/title_route_results"
            android:launchMode="singleTop"
            android:parentActivityName="ui.route.RouteActivity"
            android:theme="@style/AppTheme.Green"/>

        <activity
            android:name="ui.route.SearchActivity"
            android:exported="false"
            android:label="@string/title_search"
            android:launchMode="singleTop"
            android:theme="@style/Theme.Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"/>
        </activity>


        <!-- Eco points -->

        <activity
            android:name=".ui.ecopoints.EcoPointsActivity"
            android:label="@string/title_eco_points"
            android:launchMode="singleTop"/>

        <activity
            android:name=".ui.ecopoints.detail.ProfileActivity"
            android:label="@string/activity_title_eco_points_profile"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Normal"/>

        <activity
            android:name=".ui.ecopoints.detail.LeaderboardActivity"
            android:label="@string/activity_title_eco_points_leaderboard"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Normal"/>

        <activity
            android:name=".ui.ecopoints.detail.BadgesActivity"
            android:label="@string/activity_title_eco_points_badges"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Normal"/>

        <activity
            android:name=".ui.ecopoints.LoginActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.EcoPoints.Login"/>

        <activity
            android:name=".ui.ecopoints.RegisterActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.EcoPoints.Register"
            android:windowSoftInputMode="adjustResize"/>


        <!-- Events -->

        <activity
            android:name=".ui.ecopoints.event.EventDetailsActivity"
            android:label="Session details"
            android:theme="@style/AppTheme.Event.Details"/>

        <activity
            android:name=".ui.ecopoints.event.QrCodeActivity"
            android:label="Verify QR code"
            android:theme="@style/Theme.Event.QrCode"/>


        <!-- Lines -->

        <activity
            android:name="ui.line.LineDetailsActivity"
            android:label="@string/title_line_details"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Indigo"/>

        <activity
            android:name="ui.line.LineCourseActivity"
            android:label="@string/title_course_details"
            android:theme="@style/AppTheme.Teal"/>

        <activity
            android:name="ui.line.LinePathActivity"
            android:label="@string/title_line_path"
            android:parentActivityName="ui.line.LineDetailsActivity"
            android:theme="@style/AppTheme.Indigo"/>


        <!-- Parking -->

        <activity
            android:name="ui.parking.ParkingDetailActivity"
            android:parentActivityName="ui.parking.ParkingActivity"
            android:theme="@style/AppTheme.Parking"/>


        <!-- Bus -->

        <activity
            android:name="ui.bus.BusDetailActivity"
            android:theme="@style/AppTheme.Bus"/>


        <!-- Survey -->

        <activity
            android:name="beacon.survey.SurveyActivity"
            android:label="@string/title_survey"
            android:theme="@style/AppTheme.Teal"/>

        <activity
            android:name="beacon.survey.SurveyExitActivity"
            android:autoRemoveFromRecents="true"
            android:theme="@android:style/Theme.NoDisplay"/>


        <!-- Widget -->

        <activity
            android:name="ui.parking.ParkingConfigureActivity"
            android:theme="@style/Theme.WidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>


        <!-- Metadata -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="43bd23092db55b7c1f303c7f6e5bd3091649f644"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="bz.davide.catchsolve.catcher.android.apikey"
            android:value="https://uuu:kkk@crashbox.davide.bz/1" />

        <!-- Services -->

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService"/>

        <service
            android:name="org.altbeacon.beacon.service.BeaconService"
            android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:label="beacon"/>

        <service
            android:name="org.altbeacon.beacon.BeaconIntentProcessor"
            android:enabled="true"
            android:exported="false"/>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <service android:name="sync.SyncService"/>

        <service
            android:name="sync.SyncJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>


        <!-- GCM Services -->

        <service android:name="fcm.FcmService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name="fcm.InstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <!-- Receivers -->

        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="receiver.NotificationReceiver"/>

        <receiver android:name="receiver.BluetoothReceiver">
            <intent-filter>
                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="receiver.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name="receiver.LocationReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="appwidget.NewsWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_news"/>
        </receiver>

        <receiver android:name="appwidget.ParkingWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider_parking"/>
        </receiver>

    </application>

</manifest>